/*@media (max-width: 768px) {
  .wrapper {
    row-gap: 10px;
  }

  .card {
    width: 48%;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
  }
}*/

@media (max-width: 768px) {
  .wrapper {
    row-gap: 10px;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}
